@model GoodZoo.Models.Vet

@{
    ViewData["Title"] = "Vet - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>VetHead - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Admit New Vet</h4>

    @using (Html.BeginForm())
    {
   
                <label>@Html.LabelFor(model => model.Name)</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.Name)</div>
                <br />
                <label>@Html.LabelFor(model => model.Specialty)</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.Specialty)</div>



        <input type="submit" value="Create" class="btn btn-default" />


    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>