@model GoodZoo.Models.Animal

@{
    ViewData["Title"] = "Animal - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Animal Details</h2>
<hr />
@Html.HiddenFor(model => model.AnimalId)
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Sex): @Html.DisplayFor(model => model.Sex)</p>
<p>@Html.DisplayNameFor(model => model.Species): @Html.DisplayFor(model => model.Species)</p>
<p>Habitat: @Html.DisplayFor(model => model.HabitatType)</p>
<p>Appointed Zookeeper : @Html.DisplayFor(model => model.Vet)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.AnimalId }) | @Html.ActionLink("Back to List", "Index")</p>