@model GoodZoo.Models.Animal

@{
    ViewData["Title"] = "Animal - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Animal List - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit @Html.DisplayFor(model => model.Name)?</h4>
    <h4>Sex: @Html.DisplayFor(model => model.Sex)</h4>
    <h4>Species: @Html.DisplayFor(model => model.Species)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.AnimalId)
        <div class="row">
            <div class="col-md-6">
                <label>@Html.LabelFor(model => model.Name)</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.Name)</div>
                <br />
                <label>@Html.LabelFor(model => model.Species)</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.Species)</div>
                <br />
            </div>
            <div class="col-md-6">
                <label>@Html.LabelFor(model => model.Sex)</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.Sex)</div>
                <br />
                <label>Habitat</label>
                <div class="'form-control">@Html.TextBoxFor(model => model.HabitatType)</div>
                <br />


                <label>@Html.LabelFor(model => model.VetId)</label>  @Html.DropDownList("VetId")
            </div>
        </div>


        <input type="submit" value="Save" class="btn btn-default" />


    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>