@model IEnumerable<GoodZoo.Models.Animal>


@{
    ViewData["Title"] = "Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/"><i class="homeBtn fas fa-home fa-2x"></i></a>


<table class="table">
    <h1>current residents</h1>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Zookeeper on Duty
        </th>
        <th></th>
    </tr>

    @foreach (var listAnimal in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelAnimal => listAnimal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelAnimal => listAnimal.Vet.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listAnimal.AnimalId }) |
                @Html.ActionLink("Details", "Details", new { id = listAnimal.AnimalId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listAnimal.AnimalId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>